/// Colors ///

// backgrounds
$headerBg: #202020;
$mainBg: #181818;
$searchBarBg: #121212;
$selectedItem: #383838;
$actionBtn: #cc0000;

// icons
$iconsGray: #909090;
$iconsWhite: #ffffff;

// text
$textPrimary: #ffffff;
$textSecondary: #aaa;

// borders
$borderTags: rgba(255, 255, 255, 0.1);

$colorBlue: blue;
$colorGreen: green;

/// Sizes ///

